body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: url('bladerunner.jpg') no-repeat center center fixed;
    background-size: cover;
    color: white;
    text-align: center;
  }
  
  .enfeitado {
    padding: 20px;
  }
  
  .controle {
    margin-top: 20px;
  }
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  
  input[type="range"] {
    margin-top: 10px;
    width: 100p}